<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bulletin Board</title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="site.css">
</head>
<body>
<div class="row" id="nav" style="height: 100px; width: 80%; margin-left: 10%; margin-right: 10%;">
  <!--<b-navbar variant="faded" type="light" style=" height: 110px; ">-->
  <b-navbar-brand href="#" style="width: 30%;">
    <img src="./logo.png" style=" height: 80px;" alt="BV">
  </b-navbar-brand>
  <strong><span style="justify-content: center;">Post and bid on jobs!</span> </strong>
  <button-group style="justify-content: end;">
    <b-button :size="lg" :variant="primary" class="btn btn-outline-success" type="button" href="#register"
              @click="open('register', $event)" style=" ">Register
    </b-button>
    <b-button :size="sm" :var`iant="primary" class="btn btn-sm btn-outline-secondary" type="button" href="#login"
              @click="open('login', $event)" style="">LogIn
    </b-button>
  </button-group>
</div>


<!--Modal to handle signin activity-->
<div class="user-modal-container" :class="{ 'active': active }" id="login-modal" @click="close">
  <div class="user-modal">
    <ul class="form-switcher">
      <li @click="flip('register', $event)"><a href="" id="register-form">Register</a>

      </li>
      <li @click="flip('login', $event)"><a href="" id="login-form">Login</a>

      </li>
    </ul>
    <div class="form-register" :class="{ 'active': active == 'register' }" id="form-register">
      <div class="error-message" v-text="registerError"></div>
      <input type="text" name="name" placeholder="Name" v-model="registerName"
             @keyup.enter="submit('register', $event)">
      <input type="email" name="email" placeholder="Email" v-model="registerEmail"
             @keyup.enter="submit('register', $event)">
      <input type="password" name="password" placeholder="Password" v-model="registerPassword"
             @keyup.enter="submit('register', $event)">
      <input type="submit" :class="{ 'disabled': submitted == 'register' }" @click="submit('register', $event)"
             v-model="registerSubmit" id="registerSubmit">
      <div class="links"><a href="" @click="flip('login', $event)">Already have an account?</a>

      </div>
    </div>
    <div class="form-login" :class="{ 'active': active == 'login' }" id="form-login">
      <div class="error-message" v-text="loginError"></div>
      <input type="text" name="user" placeholder="Email or Username" v-model="loginUser"
             @keyup.enter="submit('login', $event)">
      <input type="password" name="password" placeholder="Password" v-model="loginPassword"
             @keyup.enter="submit('login', $event)">
      <input type="submit" :class="{ 'disabled': submitted == 'login' }" @click="submit('login', $event)"
             v-model="loginSubmit" id="loginSubmit">
      <div class="links"><a href="" @click="flip('password', $event)">Forgot your password?</a>

      </div>
    </div>
    <div class="form-password" :class="{ 'active': active == 'password' }" id="form-password">
      <div class="error-message" v-text="passwordError"></div>
      <input type="text" name="email" placeholder="Email" v-model="passwordEmail"
             @keyup.enter="submit('password', $event)">
      <input type="submit" :class="{ 'disabled': submitted == 'password' }" @click="submit('password', $event)"
             v-model="passwordSubmit" id="passwordSubmit">
    </div>
  </div>
</div>

<div class="container" id="events">
  <div class="col-sm-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Post a Job</h3>
      </div>
      <div class="panel-body">
        <div>
          <input class="form-control" placeholder="Title" v-model="event.title">
          <textarea class="form-control" placeholder="Detail" v-model="event.detail"></textarea>
          <input type="date" class="form-control" placeholder="Date" v-model="event.date">
          <button class="btn btn-primary" v-on:click="addEvent">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="list-group">
      <a href="#" class="list-group-item" v-for="event in events">
        <h4 class="list-group-item-heading"><i class="glyphicon glyphicon-bullhorn"></i> {{ event.title }}</h4>
        <h5><i class="glyphicon glyphicon-calendar" v-if="event.date"></i> {{ event.date }}</h5>
        <p class="list-group-item-text" v-if="event.detail">{{ event.detail }}</p>
        <button class="btn btn-xs btn-danger" v-on:click="deleteEvent(event.id)">Delete</button>
      </a>
    </div>
  </div>
</div>

</body>
<script src="node_modules/vue/dist/vue.min.js"></script>
<script src="node_modules/vue-resource/dist/vue-resource.min.js"></script>
<script src="app.js"></script>
</html>